@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black:400,700,900');

.modal input, .modal textarea, .modal select, .modal ol, .modal ul, .modal li, .modal a, .modal p, .modal h1, .modal h2, .modal h3, .modal h4, .modal h5, .modal h6 {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none !important;
	outline: none !important;
}
.modal a:hover{
	-webkit-transition: all .4s ease 0s;
	-moz-transition: all .4s ease 0s;
	transition: all .4s ease 0s;
	outline: none;
}

.modal #promovid video{
  position: relative;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
}

.modal #promovid video[poster]{
height:100%;
wid
th:100%;
}
.modal .graybg{ background:#f4f4f4;}
.modal .pinkbg{ background:#cf171f;}
.modal header, .modal .section, .modal .treeicn, .modal .rtlttxtwimg, .modal .tabmainboxf, .modal .prdctcnt, .modal .prudcttxt, .modal .prudctimg, .modal .tabsnav, .modal .tabpnl, .modal footer, .modal #promovid{ float:left; width:100%;}
header {padding: 15px 0; position: absolute; width: 100%; z-index:999;}
.bt-btn{
	float:right;
	background:#cf171f;
	font-weight:700;
	color:#fff !important;
	font-size:14px;
	border:none !important;
	text-transform:uppercase;
	padding:20px 40px !important;
	margin:20px 0px;
}
.mdlform form input{ width:100%; float:none; padding:8px; border:1px solid #ddd; }
.mdlform .modal-header .close {  margin-top: -20px; color:#cf171f; opacity:1;}
.modal .bt-btn:hover{color:#000 !important;}
.modal .section{ padding:40px 0px;}
.modal .treeicn{ margin:15px 0px;}
.modal .treeicn img { float: left; margin: 0 30px 10px 0;}
.modal .treeicn p{ font-weight:600; font-size:16px; color:#404040;}
.modal .rtlttxtwimg{ margin:20px 0px;}
.modal .rtlttxtwimg img{ max-width:100%;}
.modal .rtlttxtwimg h2{font-family: 'Archivo Black', serif; font-size:48px; color:#404040; font-weight:900; margin:30px 0px;}
.modal .rtlttxtwimg p{ color:#636363; font-size:16px; margin:30px 0px; line-height:26px;}
.modal .tabmainboxf{ background:#fff; margin:20px 0px;}
.modal .tabmainboxf .nav{ border-bottom:1px solid #969696;}
.modal .tabmainboxf .nav li a{ font-weight:600; font-size:16px; color:#fff; background:#969696; padding:25px;}
.modal .tabmainboxf .nav li.active a{background:#fff; color:#404040;}
.modal .prdctcnt{ padding:10px 0px;}
.modal .prudcttxt, .prudctimg{ margin:15px 0px;}
.modal .prudctimg img{ max-width:100%; margin-left: -11.2%;}
.modal .prudcttxt h2{font-family: 'Archivo Black', serif; font-size:30px; color:#404040; font-weight:900; margin:20px 0px; }
.modal .prudcttxt form{ margin:20px 0px;}
.modal .prudcttxt form label{ margin:15px 0px; font-weight:600; font-size:16px; color:#404040; margin-right:20px;}
.modal .prudcttxt form input[type='radio']{ margin:0px 2px 0 0;}
.modal .prudcttxt form ul{ margin:20px 0px;}
.modal .prudcttxt form ul li{ font-size:16px; color:#636363; margin:5px 0px; background:url(images/lists.png) no-repeat left;
padding-left:20px;}
.modal .prudcttxt form input[type='submit']{ border:none;}
.modal .prudcttxt .number-spinner {
  background: #f4f4f4;
  float: right;
  width: 120px;
  margin:10px 0px;
}
.modal .payment-errors {
  color: #f00;
  padding: 0 20px;
}
.modal .prudcttxt .number-spinner .btn{border:1px solid #ddd;background: #f4f4f4; border-radius:0;}
.modal .prudcttxt .number-spinner input{border:1px solid #ddd; padding: 6px; background:none; width: 100px;}
.modal .ddbg{ background:url(images/ddbg.png) no-repeat right center; padding:30px 0px;}
.modal .tabpnl .tab-content h2{ font-size:36px;}
.modal .tabsnav{	border-bottom:1px solid #ddd;}
.modal .tabsnav .nav li a{ font-weight:700; font-size:16px; padding-bottom:30px; color:#404040; border:none !important; background:none !important;}
.modal .tabsnav .nav { border:none;}
.modal .tabsnav .nav li.active a{ border-bottom:4px solid #cf171f !important;}
.modal footer{ background:#24201d; padding:15px 0px;}
.modal footer p{ display:inline; color:#868686; font-size:12px; margin-left:50px;}
.modal footer ul{ float:right; margin-top:34px;}
.modal footer ul li{ float:left; border-left:1px solid #868686; padding:0px 10px;}
.modal footer ul li:first-child{ border:none;}
.modal footer ul li a{ color:#868686; font-size:12px;}
.modal footer ul li a:hover{ color:#fff;}


